.hero-container-canvas {
    min-height: 35rem;
}
div#hero_wrapper {
    background-color: #FFECDD;
}
div#promotion {
    background-color: rgb(255,213,79);
    padding: 0.25rem 0;
}
.promotion-text {
    color: #303030;
    font-size: 1rem;
    letter-spacing: 0.35px;
    font-family: 'Poppins';
    text-align: center;
}
@media (max-width: 767px) {
    div#promotion {
        background-color: #ffd54f !important;
    }
    .promotion-text {
        color: #3a3a3a;
    }
}
