.widget-container-canvas {
    height: 35rem;
    min-height: 35rem;
}
.main-widget-wrapper {
    background-color: rgba(254,254,254,1);
    border-radius: 1rem;
    box-shadow: rgb(0 0 0 / 16%) 0px 2px 8px 0px, rgb(0 0 0 / 16%) 0px 10px 8px -5px, rgb(0 0 0 / 16%) 0px 12px 32px -2px;
    position: relative;
    max-width: 800px;
    border-bottom: 2px solid #f26b00;
    z-index: 1;
}
.widget-input-wrapper {
    border: 1px solid;
    border-color: rgb(192, 202, 213);
    border-radius: 0.25rem;
    padding: 0.75rem;
}
div#widget_hero {
    background-image: url(https://photos.smugmug.com/Partners/Top-Images/i-6Bhprfw/0/963714b8/4K/pch_rider3-4K.jpg);
    background-size: cover;
    background-position: 50% 60%;
    background-repeat: no-repeat;
    position: relative;
}
div#img-dark {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(33,33,33,0.125);
}
div#promotion {
    padding: 0.25rem 0;
}
.promotion-text {
    color: #fcfcfc;
    font-size: 1rem;
    letter-spacing: 0.35px;
    font-family: 'Poppins';
    text-align: center;
}
.widget-promo-wrapper {
    background-color: #242424;
    max-width: 800px;
    border-radius: 0 0 1rem 1rem;
    padding: 1.5rem 1.5rem 0.75rem 1.5rem;
    margin-top: -1rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    position: relative;
}
p#widget_promo_text {
    color: #fcfcfc;
    font-size: 0.9375rem;
}
@media (max-width: 767px) {
    div#promotion {
        background-color: #019D9D !important;
    }
}
