.widget-container-canvas {
    height: 35rem;
    min-height: 35rem;
}
.main-widget-wrapper {
    margin-top: 5rem;
    background-color: #ffffff;
    border-radius: 1rem;
    box-shadow: rgb(0 0 0 / 16%) 0px 2px 8px 0px, rgb(0 0 0 / 16%) 0px 10px 8px -5px, rgb(0 0 0 / 16%) 0px 12px 32px -2px;
    position: relative;
    max-width: 800px;
}
.widget-input-wrapper {
    border: 1px solid;
    border-color: #dadada;
    border-radius: 0.25rem;
    padding: 0.75rem;
}
div#widget_hero {
    background-image: url(https://photos.smugmug.com/Partners/Top-Images/i-6Bhprfw/0/963714b8/4K/pch_rider3-4K.jpg);
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}
