div#main-canvas-footer {
    background-color: #242424;
    box-shadow: rgb(0 0 0 / 25%) 0px 54px 55px, rgb(0 0 0 / 12%) 0px -12px 30px, rgb(0 0 0 / 12%) 0px 4px 6px, rgb(0 0 0 / 17%) 0px 12px 13px, rgb(0 0 0 / 9%) 0px -3px 5px;
    padding-bottom: calc(0rem + env(safe-area-inset-bottom, 0rem));
}
div#steps-full-top {
    display: none;
}
div#steps-slim-top {
    background-color: #fff;
    box-shadow: rgb(50 50 93 / 25%) 0px 2px 5px -1px, rgb(0 0 0 / 30%) 0px 1px 3px -1px;
}
input.form-check-input {
    cursor: pointer;
}
input.form-check-input:disabled {
    cursor: not-allowed;
    pointer-events: all;
}
tr#vip_zero_td {
    background-color: #FFF7F1;
}
.visible-for-lgd {
    display: none;
}
.visible-for-mdd {
    display: none;
}
.visible-for-smd {
    display: none;
}
.visible-below-mdd {
    display: none;
}
body.modal-open div#main-canvas-wrapper {
    filter: blur(3px);
}

@media (min-width: 992px) {
    .visible-for-lgd {
        display: block !important;
    }
}
@media (max-width: 991px) {
    .hidden-below-lgd {
        display: none !important;
    }
    div#steps-full-top {
        display: block;
    }
}
@media (min-width: 768px) {
    .visible-for-mdd {
        display: block !important;
    }
    .hidden-for-mdd {
        display: none !important;
    }
}
@media (max-width: 767px) {
    .hidden-below-mdd {
        display: none !important;
    }
    .visible-below-mdd {
        display: block !important;
    }
}

@media (min-width: 576px) {
    .hidden-for-smd {
        display: none !important;
    }
}
@media (max-width: 575px) {
    .hidden-below-smd {
        display: none !important;
    }
    .visible-for-smd {
        display: block !important;
    }
}
@media (max-width: 479px) {
    .hidden-below-xsd {
        display: none !important;
    }
    .visible-for-xsd {
        display: block !important;
    }
}
