.visible-for-lgd {
    display: none;
}
.visible-for-mdd {
    display: none;
}

@media (min-width: 992px) {
    .visible-for-lgd {
        display: block !important;
    }
}
@media (min-width: 768px) {
    .visible-for-mdd {
        display: block !important;
    }
    .hidden-for-mdd {
        display: none !important;
    }
}
@media (max-width: 992px) {
    .hidden-below-lgd {
        display: none !important;
    }
}
