div#main-canvas-footer {
    background-color: #242424;
    box-shadow: rgb(0 0 0 / 25%) 0px 54px 55px, rgb(0 0 0 / 12%) 0px -12px 30px, rgb(0 0 0 / 12%) 0px 4px 6px, rgb(0 0 0 / 17%) 0px 12px 13px, rgb(0 0 0 / 9%) 0px -3px 5px;
    padding-bottom: calc(0rem + env(safe-area-inset-bottom, 0rem));
}
div#steps-full-top {
    display: none;
}
div#steps-slim-top {
    background-color: #fff;
    box-shadow: rgb(50 50 93 / 25%) 0px 2px 5px -1px, rgb(0 0 0 / 30%) 0px 1px 3px -1px;
}
input.form-check-input {
    cursor: pointer;
}
input.form-check-input:disabled {
    cursor: not-allowed;
    pointer-events: all;
}
tr#vip_zero_td {
    background-color: #FFF7F1;
}
.visible-for-lgd {
    display: none;
}
.visible-for-mdd {
    display: none;
}
.visible-for-smd {
    display: none;
}
.visible-below-mdd {
    display: none;
}
body.modal-open div#main-canvas-wrapper {
    filter: blur(3px);
}
.btn-primary-link:hover>div>p.btn-link-text {
    text-decoration: underline;
}
.btn-primary-link>div>p.btn-link-text {
    text-align: left;
}
.input-focus-on-load {
    box-shadow: 0 0 0 0.25rem #b2e0dc;
}
/* BIKE LISTING CARD */
.bike-listing-card {
    background-color: #fff;
    border: 1px solid rgba(0,0,0,0.125);
    border-radius: 0.5rem;
    height: 100%;
}
.bike-card-header {
    padding: 1rem;
}
.bike-card-model-name {
    margin-bottom: 0;
    font-weight: 500;
    font-size: 0.9375rem;
    line-height: initial;
}
.bike-card-class-name {
    font-size: 0.875rem;
    color: #797979;
    margin-bottom: 0;
    line-height: initial;
    margin-top: 0.25rem;
}
.view-specs-icon {
    width: 2.5rem;
    height: 2.5rem;
    padding: 0.625rem;
    background: #5d5d5d;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 2px 3px 5px rgb(0 0 0 / 18%);
}
.bike-card-img-wrapper {
    position: relative;
}
.bike-card-img {
    width: 100%;
}
.bike-model-value-deal {
    position: absolute;
    bottom: 0;
    right: 0;
    --bs-text-opacity: 1;
    background-color: rgba(var(--bs-danger-rgb),var(--bs-text-opacity))!important;
    color: #fff;
    font-size: 0.875rem;
    font-weight: 500;
    padding: 0.25rem 0.75rem;
    border-radius: 0.25rem 0 0 0;
}
.bike-card-footer {
    background-color: #F7F7F7;
    padding: 1rem;
    border-radius: 0 0 0.5rem 0.5rem;
}
.bike-card-footer.club {
    background-color: #FFF7F1 !important;
    position: relative;
}
.model-per-day-price {
    display: flex;
    align-items: center;
    justify-content: center;
}
.model-per-day-name {
    padding-bottom: 0.25rem;
}
.rental-length-price-total {
    font-weight: 600;
    line-height: initial;
    --bs-text-opacity: 1;
    color: rgba(var(--bs-danger-rgb),var(--bs-text-opacity))!important;
}
.old-rental-length-price-total {
    font-size: 0.8rem;
    color: #797979;
    text-decoration: line-through;
    margin-left: 0.25rem;
    line-height: initial;
}
.model-card-savings {
    color: #008D90;
    font-size: 0.75rem;
    font-weight: 500;
    padding: 0.25rem;
    border-radius: 0 0 0.5rem 0.5rem;
    background-color: #D9EFEE;
    border: 1px solid;
    border-color: #019D9D;
}
.model-card-select-btn {
    margin-top: 1rem;
}
.model-card-few-left {
    font-size: 0.75rem;
    color: #e74d3d !important;
    padding: 0.375rem 0 0 0;
    display: flex;
    align-items: center;
}
/* END */
@media (min-width: 992px) {
    .visible-for-lgd {
        display: block !important;
    }
}
@media (max-width: 991px) {
    .hidden-below-lgd {
        display: none !important;
    }
    div#steps-full-top {
        display: block;
    }
}
@media (min-width: 768px) {
    .visible-for-mdd {
        display: block !important;
    }
    .hidden-for-mdd {
        display: none !important;
    }
}
@media (max-width: 767px) {
    .hidden-below-mdd {
        display: none !important;
    }
    .visible-below-mdd {
        display: block !important;
    }
}

@media (min-width: 576px) {
    .hidden-for-smd {
        display: none !important;
    }
}
@media (max-width: 575px) {
    .hidden-below-smd {
        display: none !important;
    }
    .visible-for-smd {
        display: block !important;
    }
}
@media (max-width: 479px) {
    .hidden-below-xsd {
        display: none !important;
    }
    .visible-for-xsd {
        display: block !important;
    }
}
