body {
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    color: #3A3A3A;
}
.main-container-canvas {
    min-height: 40rem;
}
div#main-canvas-wrapper {
    height: 100%;
}
div#main-canvas-body {
    padding-bottom: 0.5rem;
}
div#main-canvas-footer {
    position: sticky;
    left: 0;
    bottom: 0;
    background-color: #FFFFFF;
    box-shadow: 0px -1px 4px rgb(0 0 0 / 5%);
    padding-bottom: calc(0rem + env(safe-area-inset-bottom, 0rem));
    z-index: 1000;
}
.app-navbar {
    padding: 0;
    margin-top: 0.5rem;
}
.navbar-icons {
    font-size: 1.25rem;
    line-height: 24px;
}
.navbar-icon-text {
    font-size: 0.75rem;
    line-height: initial;
}
.navbar-app-colors .navbar-nav .nav-link {
    color: #797979 !important;
}
.navbar-app-colors .navbar-nav .nav-link.active {
    color: #fe7b10 !important;
    font-weight: 600 !important;
}
.color-secondary-1 {
    color: #303030;
}
.color-secondary-2 {
    color: #3A3A3A;
}
.logo-header {
    /* background-color: #FFFFFF; */
    background-color: #FFFFFF;
    padding: 0.5rem 1rem;
    /* box-shadow: rgb(27 31 35 / 4%) 0px 1px 0px, rgb(255 255 255 / 25%) 0px 1px 0px inset; */
}
.top-divider {
    background-color: #303030;
    padding-top: 1px;
    margin-bottom: -1px;
}
.logo-wrapper {
    width: 45%;
    max-width: 200px;
}
.btn.btn-account-dark {
    color: #3a3a3a;
    padding: 0.5rem;
    height: fit-content;
    border-radius: 8px;
}
/* BUTTONS ******************************************/
.btn {
    width: fit-content;
    height: auto;
    padding: 0.875rem 1.75rem;
    font-size: 0.875rem;
    font-weight: 500;
    text-transform: uppercase;
    border-radius: 8px;
    line-height: initial;
}
.btn-with-icon {
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn-icon-left {
    font-size: 22px !important;
    margin-right: 0.25rem;
}
.btn-icon-right {
    font-size: 22px !important;
    margin-left: 0.25rem;
}
.btn-not-allowed {
    cursor: not-allowed;
    color: inherit;
    text-decoration: none;
}
.btn-slim {
    padding: 0.5rem 1rem;
}
.btn-h-52 {
    height: 52px;
    align-items: center;
    display: flex;
}
.btn-no-bg-color {
    background-color: transparent !important;
}
/* Primary Button ************************/
.btn-primary {
    color: #fff;
    background-color: #fe7b10;
    border-color: #fe7b10;
}
.btn-primary:hover {
    color: #fff;
    background-color: #d95700;
    border-color: #d95700;
}
.btn-primary:focus {
    color: #fff;
    background-color: #d95700;
    border-color: #d95700;
    box-shadow: 0 0 0 0.25rem #FFC396;
}
.btn-primary:active {
    color: #fff;
    background-color: #fe7b10;
    border-color: #fe7b10;
    box-shadow: 0 0 0 0.25rem #FFC396;
}
.btn-primary.disabled-btn {
    background: #aeaeae;
    border-color: #aeaeae;
    opacity: 0.65;
}
/**/
.btn-primary-outlined {
    color: #fe7b10;
    background-color: #fff7f1;
    border: 1px solid;
    border-color: #fe7b10;
}
.btn-primary-outlined:hover {
    color: #f26b00;
    background-color: #FFECDD;
    border-color: #d95700;
    box-shadow: rgb(0 0 0 / 4%) 0px 3px 5px;
}
.btn-primary-outlined:focus {
    color: #f26b00;
    background-color: #FFECDD;
    border-color: #d95700;
    box-shadow: 0 0 0 0.25rem #FFC396;
}
.btn-primary-outlined:active {
    color: #f26b00;
    background-color: #FFECDD;
    border-color: #d95700;
    box-shadow: 0 0 0 0.25rem #FFC396;
}
/**/
.btn-primary-outlined-slim {
    color: #fe7b10;
    background-color: rgba(255, 247, 241, 0.1);
    border: 1px solid;
    border-color: #fe7b10;
    padding: 0.5rem 1rem;
}
.btn-primary-outlined-slim:hover {
    color: #f26b00;
    background-color: #fff7f1;
    border-color: #d95700;
    padding: 0.5rem 1rem;
    box-shadow: rgb(0 0 0 / 4%) 0px 3px 5px;
}
.btn-primary-outlined-slim:focus {
    color: #f26b00;
    background-color: #fff7f1;
    border-color: #d95700;
    padding: 0.5rem 1rem;
    box-shadow: 0 0 0 0.25rem #FFC396;
}
.btn-primary-outlined-slim:active {
    color: #f26b00;
    background-color: #fff7f1;
    border-color: #d95700;
    padding: 0.5rem 1rem;
    box-shadow: 0 0 0 0.25rem #FFC396;
}
/**/
.btn-primary-link {
    color: #fe7b10;
    background-color: transparent;
    border: 0;
    padding-left: 0;
    padding-right: 0;
}
.btn-primary-link:hover {
    color: #f26b00;
}
.btn-primary-link:hover>span.btn-link-text {
    text-decoration: underline;
}
.btn-primary-link:focus {
    color: #f26b00;
    box-shadow: 0 0 0 0.25rem #FFC396;
}
.btn-primary-link:active {
    color: #f26b00;
    box-shadow: 0 0 0 0.25rem #FFC396;
}
/***** END */

/* Secondary Button ************************/
.btn-secondary {
    color: #fff;
    background-color: #484848;
    border-color: #484848;
}
.btn-secondary:hover {
    color: #fff;
    background-color: #242424;
    border-color: #242424;
}
.btn-secondary:focus {
    color: #fff;
    background-color: #242424;
    border-color: #242424;
    box-shadow: 0 0 0 0.25rem #aeaeae;
}
.btn-secondary:active {
    color: #fff;
    background-color: #484848;
    border-color: #484848;
    box-shadow: 0 0 0 0.25rem #aeaeae;
}
.btn-secondary-outlined {
    color: #484848;
    background-color: #FCFCFC;
    border: 1px solid;
    border-color: #484848;
}
.secondary-outlined-transparent {
    color: #FCFCFC;
    background-color: transparent;
    border-color: #FCFCFC;
}
.btn-secondary-outlined:hover {
    color: #242424;
    background-color: #F0F0F0;
    border-color: #242424;
    box-shadow: rgb(0 0 0 / 4%) 0px 3px 5px;
}
.btn-secondary-outlined:focus {
    color: #242424;
    background-color: #F0F0F0;
    border-color: #242424;
    box-shadow: 0 0 0 0.25rem #aeaeae;
}
.btn-secondary-outlined:active {
    color: #242424;
    background-color: #F0F0F0;
    border-color: #242424;
    box-shadow: 0 0 0 0.25rem #aeaeae;
}
/**/
.btn-secondary-link {
    color: #242424;
    background-color: transparent;
    border: 0;
    padding-left: 0;
    padding-right: 0;
}
.btn-secondary-link:hover {
    color: #242424;
}
.btn-secondary-link:hover>span.btn-link-text {
    text-decoration: underline;
}
.btn-secondary-link:focus {
    color: #242424;
    box-shadow: 0 0 0 0.25rem #aeaeae;
}
.btn-secondary-link:active {
    color: #242424;
    box-shadow: 0 0 0 0.25rem #aeaeae;
}
/**/
.btn-secondary-link-white {
    color: #fafafa;
    background-color: transparent;
    border: 0;
    padding-left: 0;
    padding-right: 0;
}
.btn-secondary-link-white:hover {
    color: #fafafa;
}
.btn-secondary-link-white:hover>span.btn-link-text {
    text-decoration: underline;
}
.btn-secondary-link-white:focus {
    color: #fafafa;
    box-shadow: 0 0 0 0.25rem #aeaeae;
}
.btn-secondary-link-white:active {
    color: #fafafa;
    box-shadow: 0 0 0 0.25rem #aeaeae;
}
/***** END */
